.App {
  background-image: url('https://dcimg4.dcinside.co.kr/viewimage.php?id=3eb6c73ff3d72aa87d80d8b00180&no=24b0d769e1d32ca73dea87fa11d02831dd19b8e7fc4eb19683da718446d02dae61bb1eea2f240c57a1a6bfe38b15b24868756575ab6e458b07a1fefb09e1a1679ab7db3a4ee97ec6ea');
  background-size:contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
